* {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

header {
    background-color: #1e172f;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav button {
    border: none;
    height: 40px;
    width: 120px;
    color: white;
    background: linear-gradient(to right, #9303da, #0788f2);
    border-radius: 5px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 500px;
}

nav ul li {
    display: flex;
    align-items: center;
    list-style: none;
}

nav ul li a {
    color: #807b8a;
    text-decoration: none;
}

a:hover {
    color: white;
}

#about_title {
    color: #fff;
}

#contenedor1 {
    padding-right: 15px;
}

#cont_product_page {
    display: flex;
    background-color: #251242;
}

#product_page {
    background-color: #251242;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    height: 500px;
    width: 50%;
}

#product_page h1 {
    height: 165px;
    color: white;
    font-size: 50px;
}

#product_page p {
    height: 90px;
    color: white;
}

#boton_dow_fac {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    height: 40px;
    width: 265px;
    border: solid 1px #494267;
    border-radius: 10px;
}

#boton_dow_fac button {
    width: 130px;
    border: 2px solid white;
    border-radius: 5px;
}

#descarga {
    color: #f23295;
}

#facture {
    color: white;
    background-color: transparent;
}

#derecha {
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 25px;
    width: 50%;
    background-image: url(/img/hojarasca.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

#derecha div {
    width: 50%;
}


#Fonctionnalités {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f2f7;
}

#Fonctionnalités h2 {
    font-size: 40px;
    color: #f41486;
}

#contenidos {
    display: flex;
    justify-content: space-around;
    width: 830px;
}

.diseño {
    font-size: 14px;
    color: #515053;
}

.diseño h3 {
    color: #d83f8e;
    font-weight: 100;
    font-size: 30px;
}

.diseño h4 {
    color: #ff1e92;
    font-weight: 500;
    font-size: 20px;
}

.diseño ul {
    list-style: none;
    padding: 0;
}

.diseño p {
    width: 345px;
    font-size: 14px;
}

.diseño li::before{
    content: url(/img/Check.png);
    margin-right: 5px;
}

/* Planes y precios */

.Plans_Pricing{
    font-size: 20px;
    background-color: #1e172f;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px 0px;
}

/* Texto planes y precios */

.Plans_Pricing .texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.Plans_Pricing .texto h2{
    font-size: 60px;
    color: white;
}

.Plans_Pricing .texto p{
    color:#a0a0a0;
    width: 780px;
    text-align: center;
}

/* Elementos Planes y precios */

.Plans_Pricing .elementos{
    display: flex;
    gap: 25px;
    justify-content: center;
}

.Plans_Pricing .elementos .elemento_cont {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #74717a;
    background-color: white;
    border-radius: 7px;
    padding: 20px 0 0 0;
}

.Plans_Pricing .elemento_cont h3{
    color: #35304c;
    text-align: center;
}

.Plans_Pricing .elemento_cont .precios{
    background-color: #e9e6e6;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 130px;
}

.Plans_Pricing .valor{
    display: flex;
}

.Plans_Pricing #precio{
    font-size: 50px;
    color:#292929;
}

.Plans_Pricing #info{
    margin-top: 55px;
    font-size: 15px;
}

.Plans_Pricing .elemento_cont .lista{
    display: flex;
    text-align: center;
    width: 100%;
}

.Plans_Pricing .elemento_cont li{
    list-style: none;
    width: 180px;
    display: flex;
    justify-content: center;
    padding: 5px 0px;
}

.Plans_Pricing .elemento_cont i{
    color: #292929;
}

.Plans_Pricing .elementos .elemento_cont .textos p{
   text-align: center;
   font-size: 15px;
   width: 300px;
}


.Plans_Pricing #lite h3{
    color: #f41888;
}

.Plans_Pricing #lite #subscribe {
    background: linear-gradient(to right, #ec5ea7, #f41787);
}

/* Boton Precios planes */

.Plans_Pricing .boton{   
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.Plans_Pricing .elementos .elemento_cont #subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2e2550;
    padding: 12px;
    border-radius: 3px;
    color:#e4e4e4;
}


footer{
    display: flex;
    height: 80px;
}

footer .contenido{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

footer .info{
    font-size: 20px;
    color:#696671;
}

footer .info a{
    color:#c9498b;
}

footer .redes{
    display: flex;
    gap: 10px;
}

footer .redes a{
    color: #3f3f3f;
    font-size: 25px;
}

@media screen and (max-width: 1024px){
    
    .elementos {
        padding: 0 20px;
    }

   .elemento_cont {
    font-size: 20px;
    width: 340px;
   }
}


@media screen and (max-width:992px){

    #derecha img {
        display: none;
    }

    #derecha {
        background-image: none;
        display: none;
    }

    #contenidos {
        width: 784px;
    }

    #cont_product_page {
        display: flex;
        justify-content: center;
    }

    .elemento_cont {
        font-size: 20px;
        display: none;
        width: 300px;
       }
}

@media screen and (max-width:768px){

    #Fonctionnalités img{
        display: none;
    }

    .Plans_Pricing .textos{
        font-size: 13px;
     }

    .elementos {
        flex-wrap: wrap;
       }
	
}
